:root {
    --primario: #9C27B0;
    --primarioOscuro: #891190;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

/* Globales */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}